<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <a href="/weather">Weather</a>
    <a href="/gallery">Gallery</a>
</head>

<body>
	<h1>About</h1>
	<p>You can get weather or gallery</p>
</body>

</html>