<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <a href="/weather">Weather</a>
    <a href="/gallery">Gallery</a>
</head>

<body>
	<form enctype='application/json' action="/getweather" method="post">
		keyword: <input type="text" name="keyword"><br>
		<input type="submit" value="Submit">
	</form>

	{{temperature}}
	{{summary}}

	<img src="{{imagesrc}}" height="42" width="42">
</body>

</html>